.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0 auto;
  height: 5rem;
  background-color: var(--gray-900);
  max-width: 1120px;

  img {
    cursor: pointer;
  }
}
